<!-- Flash Notice -->
<% if flash[:notice] %>
  <div class="form-row w-100 mt-3 mb-3">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        <strong><%= raw flash[:notice] %></strong>
      </div>
    </div>
  </div>
<% end %>


<section class="program-list mt-3">
  <%= render 'auctions/partials/auction_table' %>
  <%= render 'auctions/partials/sections_table' %>
</section>

