

<!-- Flash Notice -->
<% if flash[:notice] %>
  <div class="form-row w-100 mt-3 mb-3">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        <strong><%= raw flash[:notice] %></strong>
      </div>
    </div>
  </div>
<% end %>

<div class="row pb-5">
  <div class="col-12">
    <section class="program-list mtb-7">
    <%= render 'auctions/partials/auction_table' %>
      <div class="mtb-10"><hr></div>
    <%= render 'auctions/partials/sections_table' %>
      <div class="mtb-7"><hr></div>
    <%= render 'auctions/partials/items_table' %>
    </section>
  </div>
</div>


