<div class="row p-0">
  <div class="col-12p-0 body-timer">
    <% @sections.each do |section| %>
      <div class="timer small pink-back">
        <p><%= section.display_name %></p>
        <div class="clock" data-endtime="<%= section.js_date_string %>"></div>
      </div>
    <% end %>

<!--    <div class="gn_message">-->
<!--      <h1>Alliance Of Hispanic Law Enforcement</h1>-->
<!--    </div>-->
  </div>
</div>




