
<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h3 class="mb-0">
        <div class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div class="row">
            <div class="col-9">
              <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>  Collapsible Group Item #1
            </div>
            <div class="col-3">
              12:12:12
            </div>
          </div>
        </div>
      </h3>
    </div>
    <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <%= render "auctions/partials/auction_items" %>
        <%= render "auctions/partials/auction_items" %>
        <%= render "auctions/partials/auction_items" %>
      </div>
    </div>
  </div>

</div>