
  <div class="row mt-3">
    <div class="col-12">
      <% @items.each do |item| %>
        <%= render partial: "auctions/partials/auction_items", locals: { item: item, section: item.section_q } %>
      <% end %>
    </div>
  </div>




