<div class="row mb-5 item_object">
  <div class="col-12">
    <div class="row header mb-3">
      <div class="col-8 text-left title">
        <h5><%= item.name %></h5>
      </div>
      <div class="col-4 countdown text-right">
        <h4><%= section.end_time %></h4>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 text-center">
        <img class="img-fluid" src="<%= item.photo.decent_size.url %>">
      </div>
      <div class="col-md-8">
        <%= item.description %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-8 text-center mb-3">
        Current Highest Bid: $12
      </div>
      <div class="col-md-4">
          <button class="btn btn-block btn-success">Bid</button>
      </div>
    </div>
  </div>
</div>
