<!-- The Modal -->
<div class="modal" id="sms_opt_in_modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Item Search Tips</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body admin_data_modal">
        Above this button is the search bar for the Items table. This is a powerful tool to help you search the table quickly for missing information. Here is a list of things you can type when searching for missing information.</br></br>

        <b>section-###</b> replace the ### with the number of the section items you want to ONLY see.</br></br>
        <b>no-image</b> this will help you find items without an image.</br></br>
        <b>no-description</b> this will help you find items without a description.</br></br>
        <b>no-title</b> this will help you find items without a title.</br></br>
        <b>(0)</b> this will help you find items without a proper base / increment / opening bid set.</br></br>

        You can also use the search bar to find phrases or other information present in the table boxes.

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</div>